@model CustomerCreateModel

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <form asp-action="Create" asp-controller="Home" method="post" class="p-4 w-75 mx-auto">
            <div class="mb-3">
                <label>TC Kimlik Numarası :</label>
                <input asp-for="IdentificationNumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label>İsmi :</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Soyismi :</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Doğum Tarihi :</label>
                <input type="date" asp-for="BirthDate" class="form-control" value="@DateTime.Today" />
            </div>
            <div class="mb-3">
                <select class="form-select" asp-items="@Model.Companies" asp-for="CompanyId">
                    <option value="0">Şirket</option>
                </select>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary w-50" type="submit">Kayıt Et</button>
            </div>
            <div class="text-danger text-start" asp-validation-summary="All">
            </div>
        </form>
    </div>
</div>